body {
	background-color: black;
}

p {
	color: lime; font-family: courier; 
}

.highlight {
	color: lime; font-family: courier;
}

h3 {
	color:lime; font-family: courier;
}

.small {
	color: lime; font-family: courier; font-size: 11px;
}
